.table {
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.table tr:hover {
  background-color: #d6eeee;
}
.tableWrapper {
  background: #000;
}
.tableInner {
  max-width: 850px;
  margin: 0 auto;
  height: calc(100vh - 40px);
  padding-top: 40px;
  width: 100%;
}
.tableContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 1px 3px 2px #811a6f;
  background: #fff;
}
